       
    
    <!--/ ABOUT SECTION -->   
    <section id="about" class="about-wrapper">
        <div class="container">
                    <div data-scroll-reveal="enter from the bottom after 0.3s" class="title text-center">
                        <h2>About</h2>
                        <p>ETIAM DIGNISSIM LEO VESTIBULUM VOLUTPAT MORB</p>
                        <hr>
                    </div><!-- end title -->
        
            <div class="row text-center">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div data-scroll-reveal="enter from the bottom after 0.4s" class="about-box">
                            <div class="about-border"> <i class="fa fa-tablet aligncenter"></i></div>
                            <h3>RESPONSIVE DESIGN</h3>
                            <p>Quisque est enim lacinia lobortis da viverra interdum, quam. In sagittis, eros faucibus ullamcorper nibh dolor</p>
                        </div>
                    </div><!-- end column -->
            
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div data-scroll-reveal="enter from the bottom after 0.5s" class="about-box">
                                <div class="about-border"> <i class="fa fa-bars aligncenter"></i></div>
                                <h3>EXCELLENT FEATURES</h3>
                                <p>Quisque est enim lacinia lobortis da viverra interdum, quam. In sagittis, eros faucibus ullamcorper nibh dolor</p>
                        </div>
                    </div><!-- end column -->
            
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div data-scroll-reveal="enter from the bottom after 0.5s" class="about-box">
                                <div class="about-border"> <i class="fa fa-folder-o aligncenter"></i></div>
                                <h3>SIMPLE & CLEAN</h3>
                                <p>Quisque est enim lacinia lobortis da viverra interdum, quam. In sagittis, eros faucibus ullamcorper nibh dolor</p>
                        </div>
                    </div><!-- end column -->
            
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div data-scroll-reveal="enter from the bottom after 0.5s" class="about-box">
                                <div class="about-border"> <i class="fa fa-gear aligncenter"></i></div>
                                <h3>PARALLAX EFFECTS</h3>
                                <p>Quisque est enim lacinia lobortis da viverra interdum, quam. In sagittis, eros faucibus ullamcorper nibh dolor</p>
                        </div>
                    </div><!-- end column -->
            </div><!-- end row -->
        </div><!-- end container -->
    
            <div class="clearfix">
              <div class="widget-wrapper">
    	<div class="container">
        	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            	<div class="widget">
                	<h3>WHY <span>Atlas Creative</span> IS SIMPLE &amp; VERY POWERFUL?</h3>
                    <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis 
					Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatisNam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis
					Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis
					Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis
					Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis
					Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis
					Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis
					faucibus. Nullam quis ante. Etiam sit amet orci eget eros. <a href="#"> Read More </a> </p>
                   
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
            
        	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            	<div class="widget">
                	<h3>OUR <span>POWERFUL</span> SKILLS!</h3>
                    <div id="skills" class="skills_bar">
                        <small>Adobe Photoshop</small>
                        <div class="progress wow slideInLeft animated" style="visibility: visible;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                            <span class="skill_count">90%</span>
                            </div>
                        </div><!-- end progress -->
                        <small>HTML5 &amp; CSS3</small>
                        <div class="progress wow slideInLeft animated" style="visibility: visible;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                            <span class="skill_count">80%</span>
                            </div>
                        </div><!-- end progress -->
                        <small>WordPress</small>
                        <div class="progress wow slideInLeft animated" style="visibility: visible;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            <span class="skill_count">90%</span>
                            </div>
                        </div><!-- end progress -->
                        <small>Customer Support</small>
                        <div class="progress wow slideInLeft animated" style="visibility: visible;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                            <span class="skill_count">90%</span>
                            </div>
                        </div><!-- end progress -->
                        <small>Shopify Design</small>
                        <div class="progress wow slideInLeft animated" style="visibility: visible;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;">
                            <span class="skill_count">80%</span>
                            </div>
                        </div><!-- end progress -->
                    </div><!-- end skills_bar -->
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
		</div><!-- end container -->
    </div>
    </div>
    </section><!-- End About Section -->

        



    <!--/ COUNT SECTION -->       
    <section id="count_parallax" class="parallax" style="background-image: url('assets/demos/parallax_01.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="overlay">
           	<div class="container">
				<div class="stat f-container">
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="fa fa-user fa-3x"></i>
                            <span class="stat-count highlight">122</span>
                            <div class="milestone-details">Happy Customers</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="fa fa-coffee fa-3x"></i>
                            <span class="stat-count highlight">4226</span>
                            <div class="milestone-details">Ordered Coffee's</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="fa fa-trophy fa-3x"></i>
                            <span class="stat-count highlight">14</span>
                            <div class="milestone-details">Awards Win</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="fa fa-camera fa-3x"></i>
                            <span class="stat-count highlight">232</span>
                            <div class="milestone-details">Photos Taken</div>
						</div>
					</div>
				</div><!-- stat -->
            </div><!-- end container -->
        </div><!-- end overlay -->
    </section>  
       