<section id="features" class="feature-wrapper">
    <div class="container">
    <div data-scroll-reveal="enter from the bottom after 0.3s" class="title text-center" data-scroll-reveal-id="2" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    <h2>Why Us ?</h2>
                    <p>ETIAM DIGNISSIM LEO VESTIBULUM VOLUTPAT MORB</p>
                    <hr>
                </div>
      <div data-scroll-reveal="enter from the bottom after 0.4s" class="feature-img">
            <img class="img-responsive" src="../assets/demos/home_01.png" alt=""> 
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <div class="widget">
                <h3> WHY Choose Medaicon ?</h3>
                <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.</p>
                <div id="accordion-second" class="clearfix">
                    <div class="accordion" id="accordion2">
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            <em class="fa fa-plus icon-fixed-width"></em>Atlas Creative is fully responsive and perfectly fits on any Mobile device.
                          </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse">
                          <div class="accordion-inner">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor...
                          </div>
                        </div>
                      </div>
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            <em class="fa fa-plus icon-fixed-width"></em>Atlas Creative is automatically creates retina ready images.
                          </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                          <div class="accordion-inner">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor...
                          </div>
                        </div>
                      </div>
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            <em class="fa fa-plus icon-fixed-width"></em>Atlas Creative contains 365 Retina Ready Font Awesome icons.
                          </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                          <div class="accordion-inner">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor...
                          </div>
                        </div>
                      </div>
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                            <em class="fa fa-plus icon-fixed-width"></em>Atlas Creative is Powerful Admin Panel
                          </a>
                        </div>
                        <div id="collapseFour" class="accordion-body collapse">
                          <div class="accordion-inner">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor...
                          </div>
                        </div>
                      </div> 
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                            <em class="fa fa-plus icon-fixed-width"></em>Atlas Creative comes with Unlimited Color Schemes
                          </a>
                        </div>
                        <div id="collapseFive" class="accordion-body collapse">
                          <div class="accordion-inner">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor...
                          </div>
                        </div>
                      </div> 
                    </div><!-- end accordion -->
                </div><!-- end accordion first -->
            </div><!-- end widget -->
        </div><!-- end col-lg-6 -->
        
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <div class="widget">
                <h3>LATEST NEWS</h3>
                <div id="owl-blog" class="owl-carousel">
                    <div class="blog-carousel">
                        <div class="entry">
                            <img src="assets/demos/work_03.jpg" alt="" class="img-responsive">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                </div><!-- end buttons -->
                            </div><!-- end magnifier -->
                            <div class="post-type">
                                <i class="fa fa-picture-o"></i>
                            </div><!-- end pull-right -->
                        </div><!-- end entry -->
                        <div class="blog-carousel-header">
                            <h3><a title="" href="blog-single-sidebar.html">New Graphic Designer on the block</a></h3>
                            <div class="blog-carousel-meta">
                                <span><i class="fa fa-calendar"></i> April 01, 2014</span>
                                <span><i class="fa fa-comment"></i> <a href="#">03 Comments</a></span>
                                <span><i class="fa fa-eye"></i> <a href="#">84 Views</a></span>
                            </div><!-- end blog-carousel-meta -->
                        </div><!-- end blog-carousel-header -->
                       
                    </div><!-- end blog-carousel -->
                    <div class="blog-carousel">
                        <div class="entry">
                            <img src="assets/demos/work_04.jpg" alt="" class="img-responsive">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                </div><!-- end buttons -->
                            </div><!-- end magnifier -->
                            <div class="post-type">
                                <i class="fa fa-picture-o"></i>
                            </div><!-- end pull-right -->
                        </div><!-- end entry -->
                        <div class="blog-carousel-header">
                            <h3><a title="" href="blog-single-sidebar.html">New Graphic Designer on the block</a></h3>
                            <div class="blog-carousel-meta">
                                <span><i class="fa fa-calendar"></i> April 01, 2014</span>
                                <span><i class="fa fa-comment"></i> <a href="#">03 Comments</a></span>
                                <span><i class="fa fa-eye"></i> <a href="#">84 Views</a></span>
                            </div><!-- end blog-carousel-meta -->
                        </div><!-- end blog-carousel-header -->                       
                    </div><!-- end blog-carousel -->     
                </div><!-- end owl-blog -->
            </div><!-- end widget -->
        </div><!-- end col-lg-6 -->
    </div><!-- end container -->
</section><!-- end grey-wrapper -->

        
