
    <!--/ SKILL SECTION -->     
    <section id="skills_parallax" class="parallax" style="background-image: url('assets/demos/parallax_02.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="overlay">
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="skill">
                        <span class="chart" data-bar-color="#fff" data-percent="50"><span class="percent"></span></span>
                        <h3>Graphic Design</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="skill">
                        <span class="chart" data-bar-color="#fff" data-percent="70"><span class="percent"></span></span>
                        <h3>Web Development</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="skill">
                        <span class="chart" data-bar-color="#fff" data-percent="99"><span class="percent"></span></span>
                        <h3>Identity</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="skill">
                        <span class="chart" data-bar-color="#fff" data-percent="100"><span class="percent"></span></span>
                        <h3>CUSTOMER SUPPORT</h3>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end overlay -->
    </section><!-- End  Skill parallax -->
     
